// This defines theme-specific variables.
@mixin theme-variables($theme) {
    // https://catppuccin.com/palette/
    @if $theme == "light" {
        // Catppuccin Latte
        --background-color: #eff1f5; // base
        --bg-0: #eff1f5; // base
        --bg-1: #ccd0da; // surface 0
        --bg-2: #bcc0cc; // surface 1
        --bg-3: #acb0be; // surface 2
        --hover-color: #e6e9ef; // mantle
        --primary-color: #dc8a78; // rosewater
        --divider-color: #7c7f93; // overlay 2
        --text-color: #4c4f69; // text
        --text-color-high-contrast: #5c5f77; // subtext 1
        --meta-color: #dc8a78; // rosewater
        --codeblock-bg: #dce0e8; // crust
        --codeblock-highlight: #fe640b; // peach

        // Code block colors
        --rosewater: #dc8a78;
        --flamingo: #dd7878;
        --pink: #ea76cb;
        --mauve: #8839ef;
        --red: #d20f39;
        --maroon: #e64553;
        --peach: #fe640b;
        --yellow: #df8e1d;
        --green: #40a02b;
        --teal: #179299;
        --sky: #04a5e5;
        --blue: #1e66f5;
        --lavender: #7287fd;
        --text: #4c4f69;
        --overlay0: #9ca0b0;
    } @else if $theme == "dark" {
        // Catppuccin Frappe
        --background-color: #303446; // base
        --bg-0: #303446; // base
        --bg-1: #414559; // surface 0
        --bg-2: #51576d; // surface 1
        --bg-3: #626880; // surface 2
        --hover-color: #292c3c; // mantle
        --primary-color: #a6d189; // green
        --divider-color: #949cbb; // overlay 2
        --text-color: #c6d0f5; // text
        --text-color-high-contrast: #b5bfe2; // subtext 1
        --meta-color: #a6d189; // green
        --codeblock-bg: #232634; // crust
        --codeblock-highlight: #81c8be; // teal

        // Code block colors
        --rosewater: #f2d5cf;
        --flamingo: #eebebe;
        --pink: #f4b8e4;
        --mauve: #ca9ee6;
        --red: #e78284;
        --maroon: #ea999c;
        --peach: #ef9f76;
        --yellow: #e5c890;
        --green: #a6d189;
        --teal: #81c8be;
        --sky: #99d1db;
        --blue: #8caaee;
        --lavender: #babbf1;
        --text: #c6d0f5;
        --overlay0: #737994;
    }
}

// Apply light theme variables by default.
:root {
    @include theme-variables("light");
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme="dark"] {
    @include theme-variables("dark");
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        @include theme-variables("dark");
    }
}

@import "../styles.scss";
